[Unit]
Description=Agente responsável pelo acesso à web.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=biel
WorkingDirectory=/home/biel/Documentos/GitHub/MiningReport/
ExecStart=/home/biel/.rvm/wrappers/default/bundle exe ruby main.rb

[Install]
WantedBy=multi-user.target