[Unit]
Description=Agente responsável pelo acesso à web.
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=biel
ExecStart=ruby /home/biel/Documentos/Github/MiningReport/main.rb

[Install]
WantedBy=multi-user.target